<h2>{{article.title}}</h2>

<!-- TODO refactor credits and creation dates to a directive -->
<span>By <strong><a href="">{{article.author.firstName + ' ' + article.author.lastName}}</a></strong></span>
<span>at <i>{{article.createdAt}}</i></span>

<!-- TODO take the datetime apart with a filter and present it properly everywhere -->
<br>
<span>last modified at <i>{{article.lastModified}}</i></span>
<hr>

<h3>{{article.subTitle}}</h3>
<span>{{article.preface}}</span>

<img ng-if="article.illustrationSrc" ng-src="{{article.illustrationSrc}}" class="alc-article-illustration"></img>

<section ng-repeat="section in article.sections" class="alc-article-section alc-{{section.sectionType || 'normal'}}">
    <h4>{{section.title}}</h4>
    <h5>{{section.sectionSubtitle}}</h5>
    <span ng-repeat="paragraph in section.paragraphs"
          ng-switch on="paragraph.paragraphType"
          class="alc-article-paragraph alc-{{paragraph.paragraphType || 'normal'}}"
    >
        <img ng-switch-when="image" ng-src="{{paragraph.paragraph}}" class="alc-article-illustration"></img>
        <div ng-switch-default>
            <h6>{{paragraph.paragraphEmphasize}}</h6>
            <p>{{paragraph.paragraph}}</p>
        </div>
    </span>
</section>

<hr>
