<div>
    <div class="alc-show-name">{{show.event.name}}</div>
    <div class="alc-show-description">{{show.event.description}}</div>
</div>
<div>
    <div class="alc-show-venue-name">{{show.venue.name}}</div>
    <div class="alc-show-venue-website-url">{{show.venue.websiteUrl}}</div>
    <div class="alc-show-venue-address">{{show.venue.venueAddress}}</div>
    <div class="alc-show-venue-event-name">{{show.venue.venueEvent}}</div>
    <div class="alc-show-venue-event-web-page-url">{{show.venue.venueEventWebPageUrl}}</div>
</div>
<div>
    <div class="alc-show-venue-date">{{show.time.date}}</div>
    <div class="alc-show-venue-time">{{show.time.time}}</div>
    <div class="alc-show-venue-datetime">{{show.time.dateTime}}</div>
</div>
<div>
    <div class="alc-show-venue-event-socials">{{show.social.facebookEventUrl}}</div>
    <div class="alc-show-venue-event-calendars">{{show.social.googlePlusEventUrl}}</div>
</div>
<div>
    <div class="alc-show-venue-event-socials">{{show.calendars.google}}</div>
    <div class="alc-show-venue-event-calendars">{{show.calendars.outlook}}</div>
</div>
