<div class="alc-video-thumbnail-frame"
     ng-click="playing = !playing"
>
    <div class="alc-video-wrapper" ng-mouseenter="hovered = true" ng-mouseleave="hovered = false">
        <iframe ng-if="playing" class="alc-video-embed" width="560px" height="315px" ng-src="{{trustVideoSrc(videoEmbed + '?autoplay=1&rel=0')}}" frameborder="0" allowfullscreen></iframe>
        IT IS IMPORTANT THAT THE .alc-video-thumbnail-image ELEMENT USES ngShow AND NOT ngIF! If this line put in comments, it causes trouble. But you cannot see it anyway.
        <div ng-show="!playing"
            class="alc-video-thumbnail-image"
             ng-class="{'alc-hovered': hovered}">
        </div>
        <div ng-if="!playing"
             class="alc-video-thumbnail-captions"
             ng-class="darkFace"
             ng-hide="hovered"
        >
            <div class="alc-video-thumbnail-caption alc-video-title">{{thumbnailCaption}}</div>
            <div class="alc-video-thumbnail-sub-caption">{{thumbnailSubCaption}}</div>
        </div>
        <div class="alc-video-thumbnail-open-in-youtube-wrapper">
            <div class="alc-video-thumbanil-open-in-youtube">
                <a ng-if="!playing"
                   class="alc-video-thumbanil-youtube-link"
                   href="{{videoUrl}}" target="_blank"
                   ng-click="$event.stopPropagation(); window.event.cancelBubble = true;"
                >
                    <i class="fa fa-youtube-play"></i>
                </a>
            </div>
        </div>
    </div>
</div>
