<button id="alc-button-go-back-to-gallery" ng-click="GalleryCtrl.goBack($event)"></button>
<h3 id="alc-selected-album-title">{{selectedAlbum.title}}</h3>
<div class="alc-view-selected-album-item"

>
    <div ng-if="false">{{selectedItem.name}}</div>

    <div class="alc-selected-album-item-placeholder"
         ng-class="{'alc-full-screen': fullScreen}"
    >
        <div alc-image-frame
             ng-repeat="item in selectedAlbum.items" ng-if="item == selectedItem"
             src="{{baseUrl + item.src}}"
             align-image="fit"
             id="alc-selected-album-item"
             class="alc-album-item alc-selected-album-item alc-image-frame"
             ng-class="{'alc-selected-album-item': item == selectedItem}"
        >
            <div id="alc-album-item-controls"
                 class="alc-album-item-controls"
            >
                <div ng-click="AlbumCtrl.prev($event)"
                     id="alc-album-item-prev"
                     class="alc-album-item-prev"
                ></div>
                <div id="alc-album-item-multi-control"
                     class="alc-album-item-multi-control"
                     ng-click="swiping ? (swiping = false) : AlbumCtrl.toggleFullscreen($event)"
                     ng-swipe-right="swiping = true; AlbumCtrl.prev($event);"
                     ng-swipe-left="swiping = true; AlbumCtrl.next($event);"
                ></div>
                <div ng-click="AlbumCtrl.next($event)"
                     id="alc-album-item-next"
                     class="alc-album-item-next"
                ></div>
            </div>
        </div>
    </div>
</div>

<div class="alc-album-item-description">
    <div class="alc-caption">{{item.description}}</div>
    <div alc-credits alc-credit="{authors: [selectedItem.author], time: selectedItem.createdAt, location: selectedItem.location}"></div>
</div>

<ul class="alc-album-items-swipe">
    <li ng-repeat="item in selectedAlbum.items"
        ng-click="AlbumCtrl.select(item)"
        class="alc-album-item-thumbnail-frame"
    >
        <div alc-image-frame
             src="{{baseUrl + item.src}}"
             align-image="fit"
             class="alc-album-item-thumbnail"
             ng-class="{'alc-selected-album-item-thumbnail': item == selectedItem}"
        ></div>
    </li>
</ul>
