.alc-album {
    #alc-button-go-back-to-gallery {
        width: 1em;
        height: 1em;

        border: none;

        background-color: transparent;
        background-url: url('../images/icons/navBack.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-attachment: scroll;
    }
    #alc-selected-album-title {
        display:inline-block;
    }

    /**
     *  _______________________
     * |                       |
     * |                       |
     * |                       |
     * |                       |
     * |                       |
     * |_______________________|
     *       <          >
     *  yadayadayadayadayadayada
     */
    .alc-view-selected-album-item {
        width: 100%;
        height: calc(100vh - 141px);
        max-height: 100vw;
        //border: dotted white 2px;

        @media screen and (max-width: 480px) {
            height: calc(82vh - 56px);
            max-height: 100vw;
        }

        .alc-selected-album-item-placeholder {
            //border: dashed #0088FF 2px;
            width: inherit; // 100%;
            height: inherit;
            background-image: url('../../content/images/icons/broken-image-white.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: 10%;

            /** only in not full screen */
            &:not(.alc-full-screen) {
                .alc-selected-album-item, .alc-album-item-controls {
                    /**
                     * In portrait, don't let the gap between the image frame and the thumbnail swipe grow too big.
                     * To achieve this, don't let the contained image frame be taller than wide
                     */
                    max-height: 100vw;
                }
                max-height: 100vw;
            }
            /** only in full screen */
            &.alc-full-screen {
                box-sizing: border-box;
                display: inline-block;
                position: fixed;
                z-index: 9999;
                top: 0;
                left: 0;
                width: 100vw;
                height: 100vh;
                background-color: rgba(black, .8);

                .alc-selected-album-item, .alc-album-item-controls { // make this grow all over the place when in full screen
                    height: 100vh; // #alc-album-item-controls will have this height too
                }
            }

            /** BOTH in full screen AND in not full screen */
            .alc-selected-album-item {
                //border: solid 1px rgba(yellow, .3);

                width: inherit; // 100%;
                height: inherit; // calc(100vh - 141px);

                margin: 0 auto;

                flex-grow: 1;

                .alc-album-item-controls {
                    //border: solid 1px rgba(red, .3);

                    width: inherit;
                    height: inherit;

                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;

                    .alc-album-item-multi-control {
                        //border: solid 1px rgba(blue, .3);

                        flex-grow: 3;

                        animation: opacity-fade-out 2s 1;
                        opacity: 0;
                        background-image: url('../../content/images/icons/toggle_fullscreen.png');
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: contain;
                    }

                    .alc-album-item-prev, .alc-album-item-next {
                        //border: solid 1px rgba(green, .3);

                        flex-grow: 1;
                        text-align: center;

                        animation: opacity-fade-out 2s 1;
                        opacity: 0;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: contain;
                    }
                    .alc-album-item-prev {
                        background-image: url('../../content/images/icons/shift_image_prev_white.png');
                    }
                    .alc-album-item-next {
                        background-image: url('../../content/images/icons/shift_image_next_white.png');
                    }
                }
            }
        }
    }

    /**   ____________________________________________
     * < |__|__|__|__|__|__|__|__|__|__|__|__|__|__|__| >
     *
     */
    ul.alc-album-items-swipe {
        white-space: nowrap; // items appear side by side horizontally
        overflow: auto; // scrolls horiyontally
        padding: 0; // junk padding removed bfrom before the first thumbnail

        //overflow-x: scroll;
        li.alc-album-item-thumbnail-frame {
            display: table-cell;
            list-style-type: none;


            .alc-album-item-thumbnail {

                min-width: 100px;
                min-height: 66px;
                @media screen and (max-width: 480px) {
                    width: 27vw;
                    height: 18vw;
                }

                &.alc-selected-album-item-thumbnail {
                    border-bottom: solid 5px rebeccapurple;
                }
            }
        }
    }
}

@keyframes opacity-fade-out {
    0% {opacity: .3;}
    100% {opacity: 0;}
}
