.alc-album {
    #alc-button-go-back-to-gallery {
        width: 1em;
        height: 1em;

        border: none;

        background-color: transparent;
        background-url: url('../images/icons/navBack.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-attachment: scroll;
    }
    #alc-selected-album-title {
        display:inline-block;
    }

    /**
     *  _______________________
     * |                       |
     * |                       |
     * |                       |
     * |                       |
     * |                       |
     * |_______________________|
     *       <          >
     *  yadayadayadayadayadayada
     */
    .alc-view-selected-album-item {
        width: 100%;

        /** only in full screen */
        &.alc-full-screen {
            box-sizing: border-box;
            display: inline-block;
            position: fixed;
            z-index: 9999;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(black, .8);

            #alc-selected-album-item, #alc-album-item-controls { // make this grow all over the place when in full screen
                height: 100vh; // #alc-album-item-controls will have this height too
            }
        }
        /** only in not full screen */
        &:not(.alc-full-screen) {
            #alc-selected-album-item, #alc-album-item-controls {
                /**
                 * In portrait, don't let the gap between the image frame and the thumbnail swipe grow too big.
                 * To achieve this, don't let the contained image frame be taller than wide
                 */
                max-height: 100vw;
            }
        }

        /** BOTH in full screen AND in not full screen */
        #alc-selected-album-item {
            border: solid 1px rgba(yellow, .3);

            width: 100%;
            height: 80vh;

            margin: 0 auto;

            flex-grow: 1;

            #alc-album-item-controls {
                border: solid 1px rgba(red, .3);

                width: inherit;
                height: inherit;

                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;

                #alc-album-item-multi-control {
                    border: solid 1px rgba(blue, .3);

                    flex-grow: 3;
                }

                #alc-album-item-prev, #alc-album-item-next {
                    border: solid 1px rgba(green, .3);

                    flex-grow: 1;
                    text-align: center;
                }
            }
        }
    }

    /**   ____________________________________________
     * < |__|__|__|__|__|__|__|__|__|__|__|__|__|__|__| >
     *
     */
    ul.alc-album-items-swipe {
        white-space: nowrap; // items appear side by side horizontally
        overflow: auto; // scrolls horiyontally
        padding: 0; // junk padding removed bfrom before the first thumbnail

        //overflow-x: scroll;
        li.alc-album-item-thumbnail-frame {
            display: table-cell;
            list-style-type: none;


            .alc-album-item-thumbnail {

                min-width: 100px;
                min-height: 66px;
                @media screen and (max-width: 480px) {
                    width: 27vw;
                    height: 18vw;
                }

                &.alc-selected-album-item-thumbnail {
                    border-bottom: solid 5px rebeccapurple;
                }
            }
        }
    }

}
