html, body {
    width: 100%;

    background-color: black;
}

#alc-app /* the body element */ {
    background-color: black;
}

#alc-nav-bar {
    background-color: black;
}

#alc-container {
    background-color: black;
}
