html, body {
    width: 100%;
    heigth: 100%;

    min-width: 0px;

    background-color: black;
}

.alc-single-page {
    margin-top: $nav-height;

    &.alc-massive-header {
        margin-top: $nav-height;
    }
}

#alc-app /* the body element */ {
    background-color: black;
}

#alc-container {
    background-color: black;
    width: 100%;
    margin: 0;
    padding: 0;

    &.alc-massive-header {
        margin-top: $massivity;
    }
    @media screen and (orientation: landscape) {
        margin-left: $nav-height;
    }

}

.alc-inline {
    display: inline-block;
}
