.alc-article {
    font-family: 'Chivo', sans-serif;
    padding: 2vw 10px 2vw 10px;

    .alc-article-illustration {
        width: 100%;
    }

    .alc-article-paragraph.alc-bigcite {
        font-size: 200%;
        font-style: italic;
        font-weight: bold;
    }
}
