.alc-page-title-bar {
    display: inline-block;
    background-color: #370047;

    width: 100%;
}


.alc-page-title {
    color: #dec2ff;
}

/**
 * Fix - prevent the change of this element's height on the page when a sticky title sticks
 */
alc-page-title.alc-page-title {
    display: block;
    height: $nav-height;
}
