#alc-shows {
    .alc-show {
        color: #BBB;
        max-width: 800px;
        margin: 0 auto;
        margin-bottom: 10px;
        padding: 5px;

        background-color: #0A0A0A;

        .alc-show-venue-date {
            // TODO font
            font-family: 'Chivo', sans-serif;
            font-size: large;
            font-weight: 600;
            color: whitesmoke;
        }

        .alc-show-name {
            font-family: 'Chivo', sans-serif;
            font-size: x-large;
            font-weight: 600;
        }

        .alc-show-venue-time {
            font-family: 'Chivo', sans-serif;
            font-weight: 600;
            margin-bottom: 5px;
        }

        .alc-show-social { // SET SIZE TO THE COMPLETE ROW
            font-size: large;
        }

        /**
         * FLEX
         */
        .alc-show-time, .alc-show-venue, .alc-show-venue-location, .alc-show-venue-event, .alc-show-basic-info, .alc-show-social {
            display: flex;
            flex-direction: row;

            .alc-show-date, .alc-show-venue-name, .alc-show-venue-location-address, .alc-show-venue-event-name, .alc-show-name, .alc-show-social-event-pages, .alc-show-calendar-event-agenda {
                flex-grow: 1;
            }
            .alc-show-date-calendar-icon, .alc-show-venue-website-url, .alc-show-venue-location-map-reference, .alc-show-venue-event-web-page-url, .alc-show-venue-page {

            }
        }
    }
}
/* junk */ // TODO Hey, clear junk comments!!!

//.alc-show {
//    border: solid 1px yellow;
//
//    * {
//        border: solid 1px rgba(red, .2);
//    }
//
//    .alc-show-venue-info {
//        background-color: rgba(blue, .1);
//    }
//    .alc-show-info {
//        background-color: rgba(green, .1);
//    }
//    .alc-show-social {
//        background-color: rgba(orange, .1);
//    }
//}
