.alc-sticky-title {
    position: relative;
    z-index: 8010;


    padding-left: $alc-band-logo-width;
    @media screen and (max-width: 480px) {
        padding-left: 15px;
        color: whitesmoke;
    }

    transition: .4s linear;
    transition: top .4s ease-out;

    &.alc-stick {
        position: fixed;
        top: 0px;
        transition: top .4s linear;
    }
    &.alc-swim-on {
        top: -80px;
        transition: top .4s linear;
    }
}

