.alc-sticky-title {
    position: relative;
    z-index: 9999;

    padding-left: $pageTitleLeftPadding;

    transition: .4s linear;
    transition: top .4s ease-out;

    &.alc-stick {
        position: fixed;
        top: 0px;
        z-index: 9990;
        transition: top .4s linear;
    }
    &.alc-swim-on {
        top: -80px;
        transition: top .4s linear;
    }
}

