$videoWidth: 50%;
$videoSizeFactor: 2;
#alc-videos {
    display: inline-block;
    margin: 0 auto;
}

.alc-video-thumbnail {
    display: inline-block;
        width: $videoWidth;
    .alc-video-thumbnail-frame {
        .alc-video-wrapper {
            position: relative;
            overflow: hidden;

            width: 100%;
            /*
             * for a 315 x 560 youtube iframe - 560/315=0.5625
             * but why does it work? Because the relative padding is calculated based on the WIDTH -- not the height -- of the element.
             */
            padding-bottom: 56.25%;
            height: 0;

            iframe, video, .alc-video-thumbnail-image {
                width: 100%;
                height: 100%;

                /*max-width: 1280px*/
                position: absolute;
                top: 0;
                left: 0;
            }

            .alc-video-thumbnail-image {
                /** TODO move background-styles into the videoThumbnails directive, where it calls the ImageFrame service */
                background-size: cover;
                background-attachment: fixed;
                background-position: center;
                background-repeat: no-repeat;
                position: absolute;

                &:not(.alc-hovered) {
                    filter: blur(2px);
                    top: -5%;
                    left: -5%;

                    width: 110%;
                    height: 110%;

                    transition: .4s,;
                }
                transition: .4s,;
            }

            .alc-video-thumbnail-captions {
                flex-grow: 1;
                width: 100%;
                height: 100%;

                position: absolute;
                top: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                color: white;
                text-shadow: black 1px 1px 2px;

                .alc-video-thumbnail-caption {
                    font-size: 10vw/$videoSizeFactor;
                }
                .alc-video-thumbnail-sub-caption {
                    font-size: 3.5vw/$videoSizeFactor;
                    text-align: center;
                }
            }
        }
    }
}
