<!--<div id="alc-desktop-header-background" ng-class="{'active-header': scrollDelta == 'small-delta'}"></div>-->
<div id="alc-menu-container-flex-wrapper" class="clearfix" ng-class="menu.mobileHide ? 'alc-mobile-hide' : 'alc-mobile-show'">
    <nav id="alc-menu-container" class="clearfix" ng-class="{'active-header': scrollDelta == 'small-delta'}">
        <ul alc-smooth-scroll
            id="alc-menu" class="clearfix" ng-class="{'active-header': scrollDelta == 'small-delta'}"
        >
            <li ng-repeat="menuItem in menu.items"
                ng-click="onMenuItemClick($event, 'alc-' + menuItem.pageId + '-page-marker')"
                class="alc-menu-item alc-control"
            >{{menuItem.pageTitle}}</li>
        </ul>
    </nav>
</div>

<div id="alc-mobile-header-background" ng-class="{'active-header': scrollDelta == 'small-delta'}"></div>

<div id="alc-band-logo-container">
    BAND<br>LOGO
    <!-- TODO provide image <img id="alc-band-logo" src="assets/images/band-logo.png" ng-class="{'active-header': scrollDelta == 'small-delta'}"/>-->
</div>

<div id="alc-hamburger-menu" ng-click="toggleMenu()" class="glyphicon glyphicon-menu-hamburger"></div>
